[user]
	email = mizuno@snowlys.co.jp
	name = Mizuno Toshiki
[core]
	excludesfile = /Users/mizunotoshiki/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[safe]
	bareRepository = explicit
[commit]
	template = /Users/mizunotoshiki/.stCommitMsg
